
<html>
<body>
<div class="center jumbotron">
<div class="home-text">
  <h1 class="display-4">ALPHA BLOG</h1>
    <%= link_to "Sign up now", "#" , class:"btn btn-danger btn-lg btn-xlarge" %>
</div>
</div>

</body>
</html>